[submodule "components/scd40"]
	path = components/scd40
	url = https://github.com/timbuntu/esp-idf-scd4x.git
[submodule "components/fastepd"]
	path = components/fastepd
	url = https://github.com/bitbank2/FastEPD.git
[submodule "components/rv3032"]
	path = components/rv3032
	url = https://github.com/jonasschnelli/RV3032_ESP32.git
