[submodule "components/scd40"]
	path = components/scd40
	url = https://github.com/timbuntu/esp-idf-scd4x.git
[submodule "components/fastepd"]
	path = components/fastepd
	url = https://github.com/bitbank2/FastEPD.git
[submodule "components/bb_rtc"]
	path = components/bb_rtc
	url = https://github.com/bitbank2/bb_rtc.git
